#welcome_maincontent
  = image_tag 'index.png',alt:"CHS by László Moholy-Nagy"
  %p
    = link_to 'Notes','notes'
    = '|'
    = link_to 'Blog','http://blog.ofpsvr.org'
    = '|'
    = link_to 'Info','#',id:'info_link'